<nav class="nav" style="display: none">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-blue"><i class="fa fa-camera-retro"></i></a>
    </li>
    <li class="nav__item">
      <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-bolt"></i></a>
    </li>
    <li class="nav__item">
      <a href="#3" class="nav__link c-red"><i class="fa fa-music"></i></a>
    </li>
    <li class="nav__item">
      <a href="#4" class="nav__link c-green"><i class="fa fa-paper-plane"></i></a>
    </li>
  </ul>
</nav>

<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-camera-retro"></i>&nbsp;Python contester :D</h1>
      <div class="panel__block"></div>
      <p>Our Python Contester is a program for holding tournaments and individual problem solving (training) in sports programming. Contester contains problem conditions - from easy to Olympiad - and the ability to check solutions.</p>
    </div>
  </article>
</section>
<section class="panel b-yellow" id="2">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-bolt"></i>&nbsp;About us</h1>
      <div class="panel__block"></div>
      <p>We are simple students of AITU who just want to become great programmers, and we want to help other programmers become great programmers...</p>
    </div>
  </article>
</section>
<section class="panel b-red" id="3">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-music"></i>&nbsp;Team</h1>
      <div class="panel__block"></div>
      <p> Dinmukhammed Yerimbetov : manager, developer, designer <br> Khamituly Beknzazar: developer <br> Zhakuda Magzhan: developer <br> Baibatyr Kanat: designer </p>
    </div>
  </article>
</section>
<section class="panel b-green" id="4">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-paper-plane"></i>&nbsp;Motivation</h1>
      <div class="panel__block"></div>
      <p>“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin Fowler.</p>
    </div>
  </article>
</section>

