{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggest problem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/task_page_css.css' %}">
</head>
<body>


<!-- TAB CONTROLLERS -->
<input id="panel-2-ctrl" class="panel-radios" type="radio" name="tab-radios" checked>


<header id="introduction">

</header>

<!-- TABS LIST -->
<ul id="tabs-list">
    <li id="li-for-panel-2">
        <label class="panel-label" for="panel-2-ctrl">Suggest task</label>
    </li>
</ul>

<!-- THE PANELS -->
<article id="panels">
    <div class="container">
        <section id="panel-2">
            <main>
                <form action="{%  %}" method="get" >
                </form>
            </main>
        </section>
    </div>
</article>

<script src="{% static 'js/task_page_js.js' %}"></script>

</body>
</html></title>
</head>
<body>

</body>
</html>