<section-title>Tasks</section-title>
<div class="accordion">
{% if tasks is None %}
    <h1>No tasks found</h1>
{% endif %}
 {% for task in tasks %}
      <div class="accordion-item">
        <div class="accordion-item-header">
          {{ task.title }}
        <a href="/task/{{ task.id }}" class="btn btn-bubble">solve</a>
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
              {{ task.topics }} <br>
              {{ task.complexity }}
          </div>
        </div>
      </div>
 {% endfor %}
</div>

<div class="contests_selection">
<form>
  <label for="002">Popular</label>
  <input id="002" type="radio" name="r1" class="r1" value="popular">
</form>
<form>
  <label for="01">easy</label>
  <input id="01" type="radio" name="r2" class="r2" value="Easy">
  <label for="02">medium</label>
  <input id="02" type="radio" name="r2" class="r2" value="Medium">
  <label for="03">hard</label>
  <input id="03" type="radio" name="r2" class="r2" value="Hard">
  <label for="04">very hard</label>
  <input id="04" type="radio" name="r2" class="r2" value="Very hard">
</form>
<div id="checklist">
  <input id="1" type="checkbox" name="ch" class="ch" value="Collections">
  <label for="1">Collections</label>
  <input id="2" type="checkbox" name="ch" class="ch" value="String">
  <label for="2">String</label>
  <input id="3" type="checkbox" name="ch" class="ch" value="Math">
  <label for="3">Math</label>
  <input id="4" type="checkbox" name="ch" class="ch" value="Data-structure">
  <label for="4">Data-structure</label>
</div>
<a href="#" class="sort">Sort</a>
</div>
