{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/task_page_css.css' %}">

</head>
<body>


<!-- TAB CONTROLLERS -->
<input id="panel-2-ctrl" class="panel-radios" type="radio" name="tab-radios" checked>
{% if finished %}
{% else %}
<input id="panel-3-ctrl" class="panel-radios" type="radio" name="tab-radios">
{% endif %}
{#<input id="panel-4-ctrl" class="panel-radios" type="radio" name="tab-radios">#}

<input id="nav-ctrl" class="panel-radios" type="checkbox" name="nav-checkbox">

<header id="introduction">
    <h1><a href="http://127.0.0.1:8000/contest/{{ contest.id }}">{{ contest.title }}</a></h1>
    {% if finished %}
        <h1>FINISHED</h1>
    {% else %}
        <h1>{{ left }}</h1>
    {% endif %}
</header>

<!-- TABS LIST -->
<ul id="tabs-list">
    <!-- MENU TOGGLE -->
    <!--INLINE-BLOCK FIX
   -->
    <li id="li-for-panel-2">
        <label class="panel-label" for="panel-2-ctrl">Info</label>
    </li>
    <!--INLINE-BLOCK FIX
   -->
    {% if finished %}
    {% else %}
    <li id="li-for-panel-3">
        <label class="panel-label" for="panel-3-ctrl">Tasks</label>
    </li>
    {% endif %}
    <!--INLINE-BLOCK FIX
   -->
{#    <li id="li-for-panel-4">#}
{#        <label class="panel-label" for="panel-4-ctrl">Submissions</label>#}
{#    </li>#}
    <!--INLINE-BLOCK FIX
   -->
    <label id="close-nav-label" for="nav-ctrl">Close</label>
</ul>

<!-- THE PANELS -->
<article id="panels">
    <div class="container">
        <section id="panel-2">
            <main>
                <h3>Contest description: {{ contest.description }}</h3>
                <h3>Contest start time: {{ contest.start_time }}</h3>
                <h3>Contest duration: {{ contest.duration }}</h3>
            </main>
        </section>
        <section id="panel-3">
            <main>
                {% if user.is_authenticated %}
{#                    <h1>Your code</h1>#}
{#                    <form action="{% url 'run_sh' contest.id %}" method="post" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                        <p>{{ form.non_field_errors }}</p>#}
{#                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>#}
{#                        <p>#}
{#                            {{ form.docfile.errors }}#}
{#                            {{ form.docfile }}#}
{#                        </p>#}
{#                        <input type="hidden" name="task_id" value="{{ task.id }}">#}
{#                        <p><input type="submit" value="Upload"/></p>#}
{#                    </form>#}
                <div class="accordion">
                    {% if contest is None %}
                        <h1>No tasks found</h1>
                    {% endif %}
                     {% for task in contest.tasks.all %}
                          <div class="accordion-item">
                            <div class="accordion-item-header">
                              {{ task.title }}
                            <a href="{{ contest.id }}/task/{{ task.id }}" class="btn btn-bubble">solve</a>
                            </div>
                          </div>
                     {% endfor %}
                    </div>

                {% else %}
                    <h1>Please login before sending to checker</h1>
                {% endif %}
            </main>

        </section>
        <section id="panel-4">
            <main>
                {% if my_submits %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Status</th>
                            <th scope="col">Points</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody id="pushHere">
                        </tbody>
                    </table>
                    <script>
                        var submits =
                            {{ my_submits|safe }};
                        {#alert(options);#}
                        for (element in submits) {
                            $("#pushHere").append("<tr><th scope='row'>" + (parseInt(element) + 1) + "</th><td>" + submits[element]['status'] + "</td><td>" + submits[element]['points'] + "</td><td>" + submits[element]['date'] + "</td></tr>");
                        }
                    </script>
                {% else %}
                    <h1>You have not submitted any code!</h1>
                {% endif %}
            </main>
        </section>
    </div>
</article>

<script src="{% static 'js/task_page_js.js' %}"></script>
<script src="{% static 'js/index_js.js' %}"></script>

</body>
</html>